@{
    ViewBag.Title = "Home Page";
}

<div class="row">
    <div class="col-lg-4">
        <h2>Bienvenido nuevo usuario</h2>
        <p>
            Bienvenido a nuestra pagina web de videojuegos.
        </p>
        <div class="col-3">
            <img src="https://images.pexels.com/photos/3165335/pexels-photo-3165335.jpeg?cs=srgb&dl=pexels-lucie-liz-3165335.jpg&fm=jpg" alt="Micha" class="img-thumbnail" rounded float-left>
        </div>

    </div>
</div>